.menu > .row{
  
}

.p-5{
  padding:.5em
}

.obscured{
  background-image:url("sampleimages/questionmark.png");
  background-size:contain;
  border-radius:5px;
  /*border-style:solid;*/
    
}

.obscured > img{
  visibility:hidden
}

body{
  background-color:#faeded;
  font-size:2em
}
label{
  font-size:2em
}
.header{
  color:#4e2323;
}
.maincontent{
  background-color:#d9d9d9;
  color:#050111;
  border-radius:10px
}
/*
  blue
  bg:#0D022C
  center bg:#665c7e
  bg text::#665c7e
*/
.scoreScreen{
  max-height:20em;
  overflow-y:auto
}
