.p-5{
  padding:.5em
}

.obscured{
  background-image:url("img/questionmark.png");
  background-size:contain;
  border-radius:5px;
  /*border-style:solid;*/
    
}

.obscured > img{
  visibility:hidden
}

body{
  background-color:#faeded;
  font-size:2em
}
label{
  font-size:1em
}
.header{
  color:#4e2323;
}
.maincontent{
  background-color:#d9d9d9;
  color:#050111;
  border-radius:10px
}
/*
  blue
  bg:#0D022C
  center bg:#665c7e
  bg text::#665c7e
*/
.listing{
  max-height:20em;
  overflow-y:auto;
  font-family:monospace, 'Baskerville Old Face';
  text-transform:uppercase;
  overflow-x:hidden;
  margin-bottom:1em;
}
.listing .row:nth-child(2n){
  background-color:#a9a9a9;
}
